[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Kung (kong1191)
[access "refs/for/refs/*"]
	read = group user/James Kung (kong1191)
	push = group OpenTrustGroup_CoreDeveloper
	push = group user/James Kung (kong1191)
	rebase = group OpenTrustGroup_CoreDeveloper
	rebase = group user/James Kung (kong1191)
	removeReviewer = group OpenTrustGroup_CoreDeveloper
	removeReviewer = group user/James Kung (kong1191)
[access "refs/heads/*"]
	read = group OpenTrustGroup_CoreDeveloper
	read = group user/James Kung (kong1191)
	create = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
	pushMerge = group user/James Kung (kong1191)
	pushMerge = group user/Sheng Yu Chiu (m943040028)
	forgeAuthor = group OpenTrustGroup_CoreDeveloper
	label-Code-Review = -2..+2 group OpenTrustGroup_CoreDeveloper
	label-Verified = -1..+1 group OpenTrustGroup_CoreDeveloper
	submit = group OpenTrustGroup_CoreDeveloper
[access "refs/tags/*"]
	push = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
	read = group OpenTrustGroup_CoreDeveloper
[submit]
	action = fast forward only
	mergeContent = false
