[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Kung (kong1191)
[access "refs/for/refs/*"]
	read = group user/James Kung (kong1191)
	push = group user/James Kung (kong1191)
	label-Code-Review = -2..+2 group user/James Kung (kong1191)
	label-Verified = -1..+1 group user/James Kung (kong1191)
	rebase = group user/James Kung (kong1191)
	removeReviewer = group user/James Kung (kong1191)
	submit = group user/James Kung (kong1191)
[access "refs/heads/*"]
	read = group user/James Kung (kong1191)
	create = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
	pushMerge = group user/James Kung (kong1191)
[access "refs/tags/*"]
	push = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
[submit]
	action = fast forward only
	mergeContent = false
